.s-time-select {
  .el-input__inner {
    @include border_color($color: '$1-color-1', $opacity:.15);
    @include font_color($color: '$1-color-1', $opacity:.65);
    @include placeholder_color($color: "$1-color-1", $opacity: .25);
    border-radius: 2px;
    font-size: 16px;
  }
  &.el-input--mini {
    font-size: 14px;
    .el-input__inner, .el-input__icon {
      height: 24px;
      line-height: 24px;
      font-size: 14px;
    }
  }
}

.s-time-select-popper {
  @include font_color($color: '$1-color-1', $opacity:.65);
  .popper__arrow {
    display: none;
  }
  &.el-popper {
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0px 9px 28px 8px rgb(0 0 0 / 5%), 0px 6px 16px 0px rgb(0 0 0 / 8%), 0px 3px 6px -4px rgb(0 0 0 / 12%);
  }
  &[x-placement^=bottom] {
    margin-top: -1px !important;
  }
  &[x-placement^=top] {
    margin-bottom: -1px !important;
  }
}