.s-collapse-item {
  .el-collapse-item__header {
    height: 45px;
    line-height: 45px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: 14px;
    @include background_color('$1-color-1', .02);
    @include border_color('$1-color-1', .07);
    @include font_color('$1-color-1', .85);
    // &.is-active {
    //   border-bottom-color: transparent;
    // }
    .el-collapse-item__arrow {
      margin: 0 12px 0 17px;
    }
  }
  &:last-child {
    .el-collapse-item__header {
      border-bottom-color: transparent;
    }
  }
  .el-collapse-item__wrap {
    // border-width: 1px 0;
    // border-style: solid;
    @include border_color('$1-color-1', .07);
  }
  .el-collapse-item__content {
    padding: 14px 16px;
    @include font_color('$1-color-1', .65);
    line-height: 22px;
    font-size: 14px;
  }
}