@font-face {
  font-family: "con-icons"; /* Project id 1788426 */
  src: url('iconfont.woff2?t=1627960197970') format('woff2'),
       url('iconfont.woff?t=1627960197970') format('woff'),
       url('iconfont.ttf?t=1627960197970') format('truetype');
}

.iconfont {
  font-family: "con-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-ali-ai-top:before {
  content: "\e65a";
}

.el-icon-ali-location:before {
  content: "\e790";
}

.el-icon-ali-edit-square:before {
  content: "\e791";
}

.el-icon-ali-cloud-upload:before {
  content: "\e7d9";
}

.el-icon-ali-cloud:before {
  content: "\e7da";
}

.el-icon-ali-cloud-download:before {
  content: "\e7db";
}

.el-icon-ali-star:before {
  content: "\e7df";
}

.el-icon-ali-right:before {
  content: "\e7eb";
}

.el-icon-ali-left:before {
  content: "\e7ec";
}

.el-icon-ali-up:before {
  content: "\e7ed";
}

.el-icon-ali-down:before {
  content: "\e7ee";
}

.el-icon-ali-upload:before {
  content: "\e7ef";
}

.el-icon-ali-download:before {
  content: "\e7f0";
}

.el-icon-ali-sort-descending:before {
  content: "\e7f1";
}

.el-icon-ali-sort-ascending:before {
  content: "\e7f2";
}

.el-icon-ali-indent:before {
  content: "\e7f3";
}

.el-icon-ali-outdent:before {
  content: "\e7f4";
}

.el-icon-ali-check:before {
  content: "\e7fd";
}

.el-icon-ali-close:before {
  content: "\e7fe";
}

.el-icon-ali-heart-fill:before {
  content: "\e849";
}

.el-icon-ali-message-fill:before {
  content: "\e84a";
}

.el-icon-ali-reload:before {
  content: "\e788";
}

.el-icon-ali-setting:before {
  content: "\e78e";
}

.el-icon-ali-bell:before {
  content: "\e7c4";
}

.el-icon-ali-ellipsis:before {
  content: "\e7fc";
}

.el-icon-ali-search:before {
  content: "\e8ef";
}

