@keyframes antRotate {
  to {
    transform: rotate(405deg);
  }
}
@keyframes antSpinMove {
  to {
    opacity: 1;
  }
}
.s-spin {
  @include background_color("$2-color-7", 0.3);
  .s-spin-spinning {
    position: static;
    display: inline-block;
    opacity: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    text-align: center;
    vertical-align: middle;
    transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  .el-loading-spinner {
    margin-top: 0;
    transform: translateY(-50%);
  }
  .s-spin-dot-spin {
    position: relative;
    display: inline-block;
    font-size: 23px;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    animation: antRotate 1.2s infinite linear;
  }
  .s-spin-dot-item {
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    background-color: #1890ff;
    border-radius: 100%;
    transform: scale(0.75);
    transform-origin: 50% 50%;
    opacity: 0.3;
    animation: antSpinMove 1s infinite linear alternate;
    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: 0;
      right: 0;
      animation-delay: .4s;
    }
    &:nth-child(3) {
      right: 0;
      bottom: 0;
      animation-delay: .8s;
    }
    &:nth-child(4) {
      bottom: 0;
      left: 0;
      animation-delay: 1.2s;
    }
  }

  .el-loading-text {
    font-size: 12px;
    @include font_color('$2-color-8');
  }
}
