.s-checkbox-group {
  display: inline-block;
  vertical-align: top;
  .el-checkbox-button__inner{
    @include font_color($color: '$1-color-1', $opacity:.65);
    font-size: 16px;
    padding: 11px 20px;
  }
  .el-checkbox-button.is-checked .el-checkbox-button__inner{
    @include font_color($color: '$0-color-1');
    @include border_color($color: '$2-color-1');
    @include background_color($color: '$2-color-1');
  }
  // .el-checkbox__input {
  //   vertical-align: middle;
  // }
  .el-checkbox-button--medium .el-checkbox-button__inner{
    font-size: 16px;
    padding: 9px 16px;
  }
  .el-checkbox-button--small .el-checkbox-button__inner{
    font-size: 14px;
    padding: 8px 16px;
  }
  .el-checkbox-button--mini .el-checkbox-button__inner{
    font-size: 14px;
    padding: 4px 7px;
  }

  &.s-checkbox-group--small {
    .s-checkbox {
      .el-checkbox__input {
        height: 14px;
      }
      .el-checkbox__inner {
        width: 14px;
        height: 14px;
        &:after {
          top: 0px;
          left: 3px;
        }
      }
      .el-checkbox__label {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
  &.s-checkbox-group--mini {
    .s-checkbox {
      .el-checkbox__input {
        height: 12px;
      }
      .el-checkbox__inner {
        width: 12px;
        height: 12px;
        &:after {
          top: 0px;
          left: 3px;
        }
      }
      .el-checkbox__label {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}