.s-checkbox {
  @include font_color($color: '$1-color-1', $opacity:.65);
  .el-checkbox__label {
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
  }
  .el-checkbox__input {
    height: 16px;
  }
  &.is-bordered.is-checked{
    @include border_color($color: '$2-color-1');
  }
  .el-checkbox__input.is-disabled .el-checkbox__inner {
    @include background_color($color: '$1-color-1', $opacity:.04);
    @include border_color($color: '$1-color-1', $opacity: .15);

  }
  .el-checkbox__input.is-disabled + span.el-checkbox__label{
    @include font_color($color: '$1-color-1', $opacity:.25);
  }
  .el-checkbox__input.is-checked + .el-checkbox__label{
    @include font_color($color: '$2-color-1');
  }
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    @include border_color($color: '$2-color-1');
    @include background_color($color: '$2-color-1');
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
    @include background_color($color: '$1-color-1', $opacity:.25);
    @include border_color($color: '$1-color-1', $opacity: .25);
    &:after {
      @include border_color($color: '$0-color-1');
    }
  }
  .el-checkbox__inner {
    width: 16px;
    height: 16px;
  }
  .el-checkbox__inner::after {
    top: 2px;
    left: 5px;
  }
  &.el-checkbox--medium.is-bordered {
    .el-checkbox__inner {
      width: 16px;
      height: 16px;
      &:after {
        top: 2px;
        left: 5px;
      }
    }
  }
  &.el-checkbox--small.is-bordered {
    .el-checkbox__inner {
      width: 12px;
      height: 12px;
      &:after {
        top: 2px;
        left: 5px;
      }
    }
  }
  &.el-checkbox--mini.is-bordered {
    height: 24px;
    padding: 0 7px;
    .el-checkbox__inner {
      width: 12px;
      height: 12px;
      &:after {
        top: 2px;
        left: 5px;
      }
    }
  }
  
}