.s-radio-group {
  display: inline-block;
  vertical-align: middle;
  .el-radio-button__inner{
    @include font_color($color: '$1-color-1', $opacity:.65);
  }
  .el-radio-button__orig-radio:checked + .el-radio-button__inner{
    @include font_color($color: '$0-color-1');
    @include border_color($color: '$2-color-1');
    @include background_color($color: '$2-color-1');
  }
  .el-radio-button--small .el-radio-button__inner {
    font-size: 14px;
    padding: 8px 15px;
  }
  .el-radio-button--mini .el-radio-button__inner {
    padding: 4px 7px;
    font-size: 14px;
  }
  &.s-radio-group--small {
    .s-radio {
      font-size: 14px;
      .el-radio__label {
        font-size: 14px;
      }
      .el-radio__inner {
        width: 14px;
        height: 14px;
      }
    }
  }
  &.s-radio-group--mini {
    .s-radio {
      font-size: 14px;
      .el-radio__label {
        font-size: 14px;
      }
      .el-radio__inner {
        width: 12px;
        height: 12px;
      }
    }
  }
}